workflow:
  rules:
    - if: $CI_COMMIT_BRANCH 

cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"

stages:
# At first debian : init variables
- quality 
- build-debian
- create-package-debian
- test-publish-debian
### All
- build
- create-package
- test-publish
# AMD64 docker
- Docker-hub-build
- Docker-hub-test
- Docker-hub-pushtag
# ARM docker
- Docker-hub-build-arm
- Docker-hub-test-arm
- Docker-hub-pushtag-arm

hadolint:
  image: hadolint/hadolint:latest-debian
  stage: quality
  before_script:
    - cd $CI_PROJECT_DIR 
  script:
    - hadolint --ignore DL3008 gitlabci/docker-ci/Dockerfile 

include:
  - 'gitlabci/debianlatest.yml'
  - 'gitlabci/docker-hub-arm.yml'
  - 'gitlabci/docker-hub.yml'
  - 'gitlabci/ubuntujammy.yml'
  - 'gitlabci/armdebian.yml'
