# Storyboard example file for referencing in e2guardianfn.conf
#
# This example file will be built to duplicate the logic in V4
# 
# Many e2guardian[f1].conf flags are replaced by commenting in/out lines 
# in the storyboard file
#
# Simple functions are defined which control the logic flow and the
# lists that are used.  See notes/Storyboard for details.
#
# The entry point in the test v5 for standard filtering is 'checkrequest'
#
function(checkrequest)
if(connect) return sslrequestcheck
# comment out the following line if you do not use 'local' list files
ifnot(greyset) returnif localcheckrequest
ifnot(greyset) returnif exceptioncheck
if(refererin,refererexception) return setexception
ifnot(greyset) greycheck
ifnot(greyset) returnif bannedcheck
if(fullurlin, change) setmodurl
#if(searchin,override) return false
#if(searchin,banned) return setblock
if(true) setgrey

function(localexceptioncheck)
if(urlin, localexception) return setexception

function(localgreycheck)
if(urlin, localgrey) return setgrey

function(localbannedcheck)
if(urlin, localbanned) return setblock

function(exceptioncheck)
if(urlin, exception) return setexception

#startfunction(sslexceptioncheck)
#if(sitein, exception) return setexception

function(greycheck)
if(urlin, grey) return setgrey

function(bannedcheck)
if(urlin, banned) return setblock

function(localcheckrequest)
ifnot(greyset) returnif localexceptioncheck
ifnot(greyset) localgreycheck
ifnot(greyset) returnif localbannedcheck
if(searchin,localbanned) return setblock

function(localsslcheckrequest)
if(sitein, localexception) return setexception
if(sitein, localbanned) return setblock

function(sslrequestcheck)
# comment out the following line if you do not use 'local' list files
if(true) returnif localsslcheckrequest
if(sitein, exception) return setexception
if(sitein, banned) return setblock

